<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #hello {
            display: none;
            width: 100px;
            height: 100px;
            background-color: red;
        }
        #btn:active {
            background-color: blue;
        }
    </style>
</head>
<body>
    <button onclick="halo()" id="btn">halo</button>
    <div id="hello"></div>
    <script>
        function halo() {
            x = document.getElementById("hello");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "block";
            }
        }
    </script>
</body>
</html>